*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.KrystalDetails {
    min-width: 100vh;
    min-height: 100vh;
    display: grid; 
    align-items: center;
    justify-content: ce;
    overflow-y: hidden;
}

.KrystalDetails--splitLeft {
    width: 50vw;  
    height: 100vh;
    background-color: orange;
    position: relative;
}

.KrystalDetails--splitRight {
    width: 50vw;
    height: 100vh;
    background-color: beige;
}

.KrystalDetails--backButton {
    background-image: linear-gradient(orange,rgb(60,148,60));
    width: 100px;
    padding: 12px;
    border:none;
    color:whitesmoke;
    margin-top: -10px;
    margin-left: 15px;
    margin-right: 15px;

    box-shadow:2px 2px 4px white;

}
