.krystals-index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5% 5%;
    height: 475px;
    overflow:scroll;
    
  }
  
  .krystals{
    height: 300px;
    width: 300px;
    padding: 20px;
    padding-bottom: 30px;  
  }
  
  img{
    height: 100px;
    width: 100px;
    border-radius: 50%
  }
  
  h4{
    text-align: center;
    padding-right: 35px;
    font-size: medium;
    color: yellowgreen ;
   
  }
  