.krystals-index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5% 5%;
    height: 475px;
    /* overflow:scroll; */
    
  }
  
  .krystals{
    height: 300px;
    width: 300px;
    padding: 20px;
    padding-bottom: 30px;  
  }
  
  .index-img{
    height: 150px;
    width: 150px;
    border-radius: 50%
  }
  
  h4{
    text-align: center;
    padding-right: 35px;
    font-size: medium;
    color: rgb(146, 38, 146);
  }
  
  h1:hover{
    
    color:rgb(103, 131, 103);
}