.NavBar
{
    background-color:rgb(60, 148, 60);
    height: 200px;
    box-shadow: 4px 4px 8px orange;
}
.logo{
    height: 60px;
    width: auto;
    padding: 10px;
}

img{
    height: 475px;
    width: 550px;
}
.link{
    display: grid;
    align-items: center;
    justify-content: auto;
    padding-left: 105px;
    margin-left: 500px;
    font-size: large;
    font-family: 'Franklin Gothic Large';
}
.orange{
text-align: center;
font-weight: bold;
font-size: 50px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home-button{
    background-image: linear-gradient(orange,rgb(60,148,60));
    width: 100px;
    padding: 12px;
    border:none;
    color:whitesmoke;
    margin-top: -10px;
    margin-left: 15px;
    margin-right: 15px;

    box-shadow:2px 2px 4px white;
    float: right;

}
.home-button:hover{
    background-image: linear-gradient(rgb(247,219,185),rgb(217, 211, 173));
}
.about-button{
    background-image: linear-gradient(orange,rgb(60,148,60));
    width: 150px;
padding: 12px;
border:none;
color:whitesmoke;
margin-top: -10px;
margin-left: 15px;
box-shadow:2px 2px 4px white;
float: right;

}
.about-button:hover{
    background-image: linear-gradient(rbg(247,219,185),rgb(217, 211, 173));
}
/* .menudiv{
    
    background-color: lightgrey;
    
} */