

.Home {
    display: grid;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    min-height: 100vh;
    padding-left: 25px;
    background-color: orange;
}
.Home h1{
    padding-left: 250px;
    padding-top: 20px;
}

.Home img {
    width: 1005px;
    height: 800px;

}
.Home button {
    background-color: rgb(60,148,60);
    width: 100px;
    margin-left: 500px;
    padding: 12px;
    align-items: center;
    border:none;
    color:whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow:2px 2px 4px white;
}