

.Home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    background-color: orange;
    border: 5px solid purple;
}
.Home button {
    background-color: rgb(60,148,60);
    width: 100px;
    padding: 12px;
    align-items: center;
    border:none;
    color:whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow:2px 2px 4px white;
}